@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  background-color: rgba(23, 23, 23, 0.795);
}

.flex {
  display: flex;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.container {
  min-width: 100vw;
  min-height: 100vh;
}
.header {
  margin-bottom: 1.5rem;
}
.btn-fill {
  width: 100%;
  margin-bottom: 1rem;
}

h1 {
	font-size: 250%; /* 45px */
}

h2 {
	font-size: 200%; /* 36px */
}

h3 {
	font-size: 177.78%; /* 32px */
}

h4 {
	font-size: 162.5%; /* 26px */
}

h5 {
	font-size: 122%; /* 22px */
}

h6 {
	font-size: 100%; /* 18px */
} 